{% extends "restro/layout.html" %}
{% load static %}
{% block body %}
    
<div class="loginbody">

    <div class="head">
        <h1>Registration Page</h1>
        <img src="{% static 'restro/login.png' %}" alt="loginpng" style="width: 200px; padding: 40px;">
    </div>

    {% if error %}
    <p style="color: red; padding: 0 0 15px 0;">{{ error }}</p> 
    {% endif %}
    
    <div class="loginform">
        <form action="{% url 'webuserregister' %}" method="post">
            {% csrf_token %}
            
            <div class="username">
                <label for="username">Username</label>
                <input type="text" name="username">
            </div>
            
            <div class="password">
                <label for="password">Password</label>
                <input type="password" name="password">
            </div>

            <button class="buttonsubmit">Register</button>
        </form>
    </div>

    <a class="change" href="{% url 'webuserlogin' %}">Login</a>

</div>
    
{% endblock %}